@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/Theme/assets/img/favicon.png">

    <title>
        Document Control System
    </title>

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/Theme/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/Theme/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link href="~/Theme/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link href="~/Theme/assets/css/argon-dashboard.css?v=2.0.0" id="pagestyle" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="g-sidenav-show bg-gray-100">
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main" @*data-color="dark"*@>
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <img src="~/Theme/assets/img/logo2.png" class="navbar-brand-img h-200" alt="main_logo" />
            <span class="ms-1 font-weight-bold">RR&DS - RUDA</span>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <!-- #region Commented Old navbar -->
            @*<ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index","Home")">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-paper-diploma text-primary text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item sub-menu">
                        <a class="nav-link" href="@Url.Action("Index","Users")">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-single-02 text-primary text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">User Management</span>
                        </a>
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Files")">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-credit-card text-primary text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Document Management</span>
                        </a>
                    </li>
                </ul>*@

            <!-- #endregion -->

            <nav class='animated bounceInDown custom-nav'>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Dashboard</a></li>
                    <li class='sub-menu'>
                        <a href="#">User Management<div class='fa fa-caret-down right'></div></a>
                        <ul>
                            <li><a href="@Url.Action("Index","Users")">Users List</a></li>
                            <li><a href="@Url.Action("AddNewUser","Users")">Add New User</a></li>
                            <li><a href="@Url.Action("UserRoles","Users")">User Roles</a></li>
                        </ul>
                    </li>
                    <li class='sub-menu'>
                        <a href="#">Document Management<div class='fa fa-caret-down right'></div></a>
                        <ul>
                            <li><a href="@Url.Action("Index","Files")">Documents List</a></li>
                            <li><a href="@Url.Action("AddNewFile","Files")">Add New Document</a></li>
                            <li><a href="@Url.Action("DocumentTypes","Files")">Document Types</a></li>
                            <li><a href="@Url.Action("Departments","Files")">Departments</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidenav-footer mx-3 ">
            <a class="btn btn-primary btn-sm mb-0 w-100" href="@Url.Action("Logout","Users")" type="button">Logout</a>
        </div>
    </aside>
    <main class="main-content position-relative border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5" hidden>
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
                        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
                    </ol>
                    <h6 class="font-weight-bolder text-white mb-0">@ViewData["Title"]</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 justify-content-end" id="navbar">
                    <ul class="navbar-nav justify-content-end text-right">
                        <li class="nav-item d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                                <i class="fa fa-user me-sm-1"></i>
                                <span class="d-sm-inline d-none">@HttpContextAccessor.HttpContext.Session.GetString("Name").ToString()</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid py-4">
            <div class="content-wrapper">
                <div class="content">
                    @RenderBody()
                </div>
                <footer class="footer pt-3">
                    <div class="container-fluid">
                        <div class="row align-items-center justify-content-lg-between">
                            <div class="col-lg-6 mb-lg-0 mb-4">
                                <div class="copyright text-center text-sm text-muted text-lg-start">
                                    ©
                                    <script>document.write(new Date().getFullYear())</script>,
                                    Copyright
                                    <a href="https://ruda.gov.pk/" class="font-weight-bold" target="_blank">Ravi Urban Development Authority</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </main>
    <!--   Core JS Files   -->
    <script src="~/Theme/assets/js/core/popper.min.js"></script>
    <script src="~/Theme/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Theme/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Theme/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/Theme/assets/js/plugins/chartjs.min.js"></script>
    <script src="~/Theme/assets/js/argon-dashboard.min.js?v=2.0.0"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
        $('.sub-menu ul').hide();
        $(".sub-menu a").click(function () {
            $(this).parent(".sub-menu").children("ul").slideToggle("100");
            $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
        });
    </script>
</body>
</html>