@using Microsoft.AspNetCore.Http;
@using FCMS_RUDA.Models;
@using com.ruda.Efile.Domain;

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Users Permissions";
    List<UserPermissions> permissions = HttpContextAccessor.HttpContext.Session.GetComplexData<List<UserPermissions>>("Permissions");
}

<div class="col-12">
    <div class="card">
        @*<div class="card-header">
                <div class="col-md-6 d-flex justify-content-start">
                    <div id="Search" class="dataTables_filter">
                        <h4 class="card-title mb-0">@ViewData["Title"]</h4>
                    </div>
                </div>
            </div>*@
        <div class="card-body">
            <div class="col-12 mb-4 text-left">
                <label class="form-control-label" for="modalRoleName">Select User Role</label>
                <select id="RoleSelect" class="form-select" style="max-width: 450px;">
                    <option value="-1">select...</option>
                    @foreach (var item in ViewBag.RoleList)
                    {
                        <option value="@item.RoleID">@item.Description</option>
                    }
                </select>
            </div>
            <div class="col-12 mb-4">
                <!-- Permission table -->
                <div class="table-responsive px-5">
                    <table id="tblPermissions" class="table table-flush-spacing">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Screen</th>
                                <th>Permissions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />
            @if (permissions.Any(x => x.ScreenID == 5 && x.PUpdate == true))
            {
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary me-sm-3 me-1">Update</button>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">

    $("#RoleSelect").change(function () {
        debugger;
        var RoleID = $(this).val();

        if (RoleID == -1) {
            $('#tblPermissions tbody').empty();
        }
        else {
            $.ajax({
                url: '@Url.Action("LoadPermissions", "Users")',
                type: "POST",
                dataType: "json",
                async: false,
                data: { RoleID: RoleID },
                success: function (result) {
                    debugger;

                    $('#tblPermissions tbody').empty();
                    var Json = JSON.parse(result);
                    for (var i = 0; i < Json.length; ++i) {

                        var pView = Json[i].PView == true ? ' checked' : '';
                        var pAdd = Json[i].PAdd == true ? ' checked' : '';
                        var pUpdate = Json[i].PUpdate == true ? ' checked' : '';
                        var pDelete = Json[i].PDelete == true ? ' checked' : '';
                        var pPrint = Json[i].PPrint == true ? ' checked' : '';

                        $('#tblPermissions').append('<tr> ' +
                            '<td class= "text-nowrap fw-semibold">' + Json[i].ModuleName + '</td>' +
                            '<td class= "text-nowrap fw-semibold">' + Json[i].ScreenName + '</td>' +
                            '<td>' +
                            '<div class="d-flex">' +
                            '<div class="form-check me-2 me-lg-5">' +
                            '<input class="form-check-input" type="checkbox" id="' + Json[i].ModuleID + Json[i].ScreenID + 'View" ' + pView + '/>' +
                            '<label class="form-check-label" for="userManagementRead"> View ' +
                            '</label>' +
                            '</div>' +
                            '<div class="form-check me-2 me-lg-5">' +
                            '<input class="form-check-input" type="checkbox" id="' + Json[i].ModuleID + Json[i].ScreenID + 'Add"  ' + pAdd + '/>' +
                            '<label class="form-check-label" for="userManagementWrite"> Add' +
                            '</label>' +
                            '</div>' +
                            '<div class="form-check me-2 me-lg-5">' +
                            '<input class="form-check-input" type="checkbox" id="' + Json[i].ModuleID + Json[i].ScreenID + 'Update"  ' + pUpdate + '/>' +
                            '<label class="form-check-label" for="userManagementCreate"> Update' +
                            '</label>' +
                            '</div>' +
                            '<div class="form-check me-2 me-lg-5">' +
                            '<input class="form-check-input" type="checkbox" id="' + Json[i].ModuleID + Json[i].ScreenID + 'Delete"  ' + pDelete + '/>' +
                            '<label class="form-check-label" for="userManagementWrite"> Delete' +
                            '</label>' +
                            '</div>' +
                            '<div class="form-check me-2 me-lg-5">' +
                            '<input class="form-check-input" type="checkbox" id="' + Json[i].ModuleID + Json[i].ScreenID + 'Print"  ' + pPrint + '/>' +
                            '<label class="form-check-label" for="userManagementWrite"> Print' +
                            '</label>' +
                            '</div>' +
                            '</div>' +
                            '</td>' +
                            '</tr >');
                    }
                    if (Json.length == 0) {
                        $('#tblPermissions').append('<tr class="odd"><td valign="top" colspan="4" class="dataTables_empty">No data available in table</td></tr>');
                    }
                }
            });
        }
    });

    @if (ViewBag.Message != null)
    {
        @:window.onload = function () { alert("@ViewBag.Message"); };
    }

</script>
