@using Microsoft.AspNetCore.Http;
@using FCMS_RUDA.Models;
@using com.ruda.Efile.Domain;

@inject IHttpContextAccessor HttpContextAccessor
@model List<com.ruda.Efile.Domain.Documents>

@{
    ViewData["Title"] = "Documents List";
    List<UserPermissions> permissions = HttpContextAccessor.HttpContext.Session.GetComplexData<List<UserPermissions>>("Permissions");
}

<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                    @*<h4 class="mb-0">Documents List</h4>*@
                </div>
                @if (permissions.Any(x => x.ScreenID == 7 && x.PAdd == true))
                {
                    <div class="col-6 text-end">
                        <a class="btn bg-gradient-dark mb-0" href="@Url.Action("AddNewFile", "Files")"><i class="fas fa-plus"></i>&nbsp;&nbsp;New Document</a>
                    </div>
                }
            </div>
        </div>
        <br />
        <div class="card-body px-4 pt-0 pb-2">
            <div class="table-responsive-lg p-0">
                <table class="table align-items-center mb-0" id="dataTable">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-primary text-xs text-center font-weight-bold opacity-7">Document Number</th>
                            <th class="text-uppercase text-primary text-xs text-center font-weight-bold opacity-7">Document Type</th>
                            <th class="text-uppercase text-primary text-xs text-center font-weight-bold opacity-7">Originated By</th>
                            @*<th class="text-uppercase text-primary text-xs text-center font-weight-bold opacity-7">Receiving Date</th>*@
                            <th class="text-uppercase text-primary text-xs text-center font-weight-bold opacity-7">Document Status</th>
                            <th class="text-uppercase text-primary text-xs text-center font-weight-bold opacity-7">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <p class="text-xs text-center font-weight-bold mb-0">@item.DocumentNumber</p>
                                </td>
                                <td>
                                    <p class="text-xs text-center font-weight-bold mb-0">@item.DocTypeName</p>
                                </td>
                                <td>
                                    <p class="text-xs text-center font-weight-bold mb-0">@item.OriginatedByName</p>
                                </td>
                                @*<td>
                                    <p class="text-xs text-center font-weight-bold mb-0">@item.ReceivingDate.ToShortDateString()</p>
                                </td>*@
                                <td>
                                    <p class="text-xs text-center font-weight-bold mb-0">@item.DocStatusName</p>
                                </td>
                                <td class="text-center">
                                    @if (permissions.Any(x => x.ScreenID == 6 && x.PView == true))
                                    {
                                        <a href="@Url.Action("ViewFile", "Files", new { FileID = item.ID })" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="View Document Details">
                                            View
                                        </a>
                                    }
                                    &nbsp;&nbsp;
                                    @if (permissions.Any(x => x.ScreenID == 6 && x.PUpdate == true))
                                    {
                                        <a href="@Url.Action("UpdateFile","Files", new { FileID = item.ID})" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit Document">
                                            Update
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<link href="~/Theme/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Theme/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="~/Theme/assets/js/jquery.dataTables.min.js" defer></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

    window.onload = function () {

        @if (TempData["Success"] != null)
        {
            @:alert("@TempData["Success"]");
        }
    };
</script>

